@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

textarea {
    resize: none;
    outline: none;
}

input {
    outline: none;
}

.mySwitch:checked {
    box-shadow: var(--handleoffset) 0 0 2px rgb(31 41 55 / var(--tw-bg-opacity)) inset, 0 0 0 2px rgb(31 41 55 / var(--tw-bg-opacity)) inset;
}

.mySwitch {
    box-shadow: calc(var(--handleoffset) * -1) 0 0 2px rgb(31 41 55 / var(--tw-bg-opacity)) inset, 0 0 0 2px rgb(31 41 55 / var(--tw-bg-opacity)) inset;
}
